*{
    margin: 0;
    padding: 0;
}


nav img {
    width: 100px;
    height: auto;
}
.wrapper a{
    color: inherit; /* Changes the color to inherit from the parent element */
    text-decoration: none; /* Removes the underline */
    color: purple;
    font-weight: bold;
}
header{
    background-color: lightblue;
    font-size: 18px;
}
body{
    background-color: rgb(229, 243, 247);
}
footer{
    background-color: lightblue;
    font-size: 15px;
}
footer p {
    font-weight: bold;
    color: purple;
    padding: 5px;
}
.wrapper nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
}
.wrapper{
    width: 1075px;
    margin: 0 auto;
}
main .wrapper{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 325px;
}
main .wrapper h2{
    padding-bottom: 8px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1075px;
    margin: 0 auto;
}
.box img{
    width: 650px;
    height: auto;
}
#jaaroverzicht {
    width: 1075px;
    margin: 0 auto;
    padding: 30px;

}
.box p {
    background-color: purple;
    border-radius: 10px;
    padding: 30px;
    border: 2px solid purple;
    color: lightblue;
    margin: 15px;
}
.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1075px;
    margin: 0 auto;
    padding-top: 30px;
}
.box2 img{
    width: 650px;
    height: auto;
}
.box2 p{
    background-color: lightblue;
    border-radius: 10px;
    padding: 30px;
    border: 2px solid lightblue;
    color: purple;
    margin: 15px;
}

