@font-face {
    font-family: 'YourFontName';
    src: url('fonts/your-font-regular.woff2') format('woff2'),
         url('fonts/your-font-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YourFontName';
    src: url('fonts/your-font-bold.woff2') format('woff2'),
         url('fonts/your-font-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* Voeg meer @font-face regels toe voor andere stijlen of gewichten indien nodig */

body {
    font-family: 'YourFontName', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}


nav img {
    width: 100px;
    height: auto;
}
.wrapper a{
    color: inherit; /* Changes the color to inherit from the parent element */
    text-decoration: none; /* Removes the underline */
    color: purple;
    font-weight: bold;
}
header{
    background-color: lightblue;
    font-size: 18px;
}
body{
    background-color: rgb(229, 243, 247);
}
footer{
    background-color: lightblue;
    font-size: 15px;
}
footer p {
    font-weight: bold;
    color: purple;
    padding: 5px;
}
.wrapper nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
}
.wrapper{
    width: 1075px;
    margin: 0 auto;
}
main .wrapper{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 325px;
}
main .wrapper h2{
    padding-bottom: 8px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1075px;
    margin: 0 auto;
}
.box img{
    width: 650px;
    height: auto;
}
#jaaroverzicht {
    width: 1075px;
    margin: 0 auto;
    padding-top: 30px;

}
.box p {
    background-color: purple;
    border-radius: 10px;
    padding: 30px;
    border: 2px solid purple;
    color: lightblue;
    margin: 15px;
}
.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1075px;
    margin: 0 auto;
    padding-top: 30px;
}
.box2 img{
    width: 650px;
    height: auto;
}
.box2 p{
    background-color: lightblue;
    border-radius: 10px;
    padding: 30px;
    border: 2px solid lightblue;
    color: purple;
    margin: 15px;
}
.curio-image{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    width: 1075px;
    margin: 0 auto;
}

.curio-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
}
.wrapper2{
    width: 1075px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}
#docenten-text{
    width: 1075px;
    margin: 0 auto;
}
.docenten-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1075px;
    margin: 0 auto;
}
.docenten-box img{
    width: 250px;
    height: auto;
}
p{
    color: rgb(44, 44, 98);
}
h2{
    color: rgb(44, 44, 98);
}

.docenten-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.docent-box {
    padding-top: 100px;
    padding: 50px;
    text-align: center;
    width: 200px;
}

.docent-foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid rgb(44, 44, 98);; /* Pas de kleur aan naar wens */
    margin: 0 auto 10px;
}

.docent-foto img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.docent-info {
    margin: 0;
}